// Heading class referring to both About and Gallery sections

.heading {
	margin-top: 30px;
	text-align: center;
	position: relative;
}

.heading::before, .heading::after {
	content: '';
	position: absolute;
	width: calc(50% - 80px);
	height: 1px;
	top: 50%;
	transform: translateY(-50%);
	background-color: $secondaryColor;
}

.heading::before {
	left: 0;
}

.heading::after {
	right: 0;
}

.columns {
	column-count: 3;
	column-gap: 30px;
	p {
		margin: 0 0 10px 0;
		line-height: 1.8;
		text-align: justify;
		font-weight: 500;
	}
}

@media (max-width: 768px) {
	.columns {
		column-count: 2;
		column-gap: 15px;
	}
}

@media (max-width: 425px) {
	.about h2 {
		margin: 0;
	}
	.columns {
		column-count: 1;
		p:first-child {
			margin-top: 15px;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
}
