// COLOURS

$primaryColor: #000000;
$secondaryColor: #808080;
$accentColor: #ce2029;


// headings
// font-family: 'Raleway', sans-serif;

// body
// font-family: 'Noto Serif', serif;

h1, h2, h3, h4, a, ul, li, p, button {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}

h2, h3 {
	font-size: 1.6rem;
	text-transform: uppercase;
}

h4 {
	font-size: 1.1rem;
	text-transform: uppercase;
}

a, ul, li, button {
	font-size: 1rem;
	text-transform: uppercase;
	list-style: none;
	text-decoration: none;
}