footer {
	@media (max-width: 425px) {
		background: lightgrey;
		margin-bottom: 76px;
		border-bottom: 1px solid $secondaryColor;
		.footerContainer {
			justify-content: center;
			.socialLinks {
				display: none;
			}
		}
	}
}

.navLower {
	ul {
		padding: 20px 0;
		@media (max-width: 768px) {
			width: 95%;
			margin: 0 auto;
		}
	}
	@media (max-width: 425px) {
		display: none;
	}
}

.footerContainer {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	p, a {
		font-weight: 700;
		color: $primaryColor;
	}
	.socialLinks {
		display: flex;
		a {
			color: $primaryColor;
			&:hover {
				color: $accentColor;
				transition: color 0.3s;
			}
		}
	}
}