.footerContainer {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}

.footerContainer p {
	font-weight: bold;
	color: $primaryColor;
	a {
		font-weight: 700;
		color: $primaryColor;
	}
}

.footerContainer .socialLinks {
	display: flex;
	a {
		color: $primaryColor;
		&:hover {
			color: $accentColor;
			transition: color 0.3s;
		}
	}
}

@media (max-width: 425px) {
	footer {
		background: lightgrey;
		margin-bottom: 76px;
		border-bottom: 1px solid $secondaryColor;
		.footerContainer {
			justify-content: center;
			.socialLinks {
				display: none;
			}
		}
	}
}