.footerContainer {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
}

.footerContainer p {
	font-weight: bold;
	color: $primaryColor;
	a {
		color: $primaryColor;
	}
}

.footerContainer .socialLinks {
	display: flex;
	a {
		color: $primaryColor;
		&:hover {
			color: $accentColor;
			transition: color 0.3s;
		}
	}
}