.gallery {
	margin-top: 30px;
}

.imageGallery {
	column-count: 3;
	column-width: 33.33%;
	column-gap: 30px;
	margin-bottom: 60px;
	figure {
		position: relative;
		margin-top: 30px;
		&:first-child {
			margin-top: 0;
		}
		figcaption {
			display: none;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			background-color: rgba(206,32,41,0.8);
		}
		&:hover figcaption {
			display: block;
		}
	}
	@media (max-width: 768px) {
		column-count: 2;
		column-gap: 15px;
		margin-bottom: 0;
		figure {
			margin-top: 15px;
			&:first-child {
				margin-top: 0;
			}
		}
		figure:nth-child(6) ~ figure {
			display: none;
		}
	}
	@media (max-width: 425px) {
		column-count: 1;
		margin-top: 0;
		figure {
			&:first-child {
				margin-top: 15px;
			}
		}
	}
}

.overlay {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	margin: 0 auto;
	color: white;
	h3 {
		margin: 0;
	}
	p {
		text-transform: lowercase;
		font-style: italic;
		font-family: 'Noto Serif', serif;
		margin: 5px 0;
		font-size: 1.2rem;
		position: relative;
		&::before, &::after {
			content: '';
			position: absolute;
			width: 40%;
			height: 1px;
			top: 50%;
			transform: translateY(-50%);
			background-color: white;
		}
		&::before {
			left: -55px;
			@media (max-width: 500px) and (min-width: 426px) {
				left: -35px;
				width: 30%;
			}
			@media (max-width: 425px) {
				left: -60px;
			}
		}
		&::after {
			right: -55px;
			@media (max-width: 500px) and (min-width: 426px) {
				right: -35px;
				width: 30%;
			}
			@media (max-width: 425px) {
				right: -60px;
			}
		}
	}
	a {
		font-size: 1.2rem;
		text-decoration: none;
		color: white;
		&:hover {
			font-weight: 700;
		}
	}
	@media (max-width: 425px) {
		p {
			margin: 15px 0;
		}
		a, p {
			font-size: 1.6rem;
		}
	}
}

.toggleGalleryOverflow {
	@media (max-width: 768px) {
		display: block;
	}
}