.gallery {
	margin-top: 30px;
}

.imageGallery {
	column-count: 3;
	column-width: 33.33%;
	column-gap: 30px;
	margin: 30px 0;
}

.toggleOverflow {
	display: none;
	margin: 0 auto 30px auto;
	background: none;
	border: 1px solid $primaryColor;
	padding: 10px 15px;
	transition: all 0.3s;
	&:hover {
		color: darken($accentColor, 10);
		border: 1px solid darken($accentColor, 10);
		background-color: lighten($accentColor, 40);
	}
}

figure {
	margin-top: 30px;
	&:first-child {
		margin-top: 0;
	}
	position: relative;
}

figcaption {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(206,32,41,0.8);
}

figure:hover figcaption {
	display: block;
}

.overlay {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	text-align: center;
	h3 {
		margin: 0;
	}
	p {
		text-transform: lowercase;
		font-style: italic;
		font-family: 'Noto Serif', serif;
	}
	a {
		text-decoration: none;
		color: white;
		&:hover {
			border-bottom: 1px solid white;
		}
	}
}

.overlayStyling {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-column-gap: 5px;
	width: 60%;
	margin: 0 auto;
	p {
		font-size: 0.8rem;
		grid-column: 2/3;
	}
}

.overlayBefore span::before {
	content: '';
	border-bottom: 1px solid white;
	right: 0;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}

.overlayBefore {
	grid-column: 1/2;
	position: relative;
}

.overlayAfter span::after {
	content: '';
	border-bottom: 1px solid white;
	right: 0;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}

.overlayAfter {
	grid-column: 3/4;
	position: relative;
}

@media (max-width: 768px) {
	.imageGallery {
		column-count: 2;
		column-gap: 15px;
		figure {
			margin-top: 15px;
			&:first-child {
				margin-top: 0;
			}
		}
	}
	figure:nth-child(6) ~ figure {
		display: none;
	}
	.toggleOverflow {
		display: block;
	}
}

@media (max-width: 425px) {
	.gallery h2 {
		margin: 0;
	}
	.imageGallery {
		column-count: 1;
		margin-top: 0;
		figure {
			&:first-child {
				margin-top: 15px;
			}
		}
	}
}









