header {
	border-bottom: 1px solid $secondaryColor;
}

.headerLinks {
	display: flex;
	justify-content: space-between;
	ul {
		list-style: none;
		display: flex;
		padding: 0;
		margin: 15px 0;
		a {
			text-decoration: none;
			color: $primaryColor;
		}
	}
}

.navLinks {
	position: relative;
}

.navLinks::after {
	content: '|';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.navLinks a {
	padding: 5px 0;
	&:hover {
		font-weight: bold;
	}
}

.navLinks li {
	margin-right: 20px;
	position: relative;
}

.socialLinks li {
	margin-left: 10px;
}

.socialLinks a:hover {
	color: $accentColor;
	transition: color 0.3s;
}

@media (max-width: 425px) {
	header {
		position: fixed;
		bottom: 0;
		width: 100%;
		background: white;
		z-index: 200;
		border-top: 1px solid $secondaryColor;
		padding: 10px 0;
	}
	.socialLinks li {
		margin-left: 20px;
	}
}