.title {
	text-align: center;
	margin: 30px 0;
}

.navigation ul {
	display: flex;
	padding: 0;
	margin: 0 auto;
	padding: 15px 0;
	justify-content: center;
	li {
		padding: 0 10px;
	}
}

.navUpper {
	border-top: 1px solid $secondaryColor;
	border-bottom: 1px solid $secondaryColor;
}

.navigation a {
	padding: 5px;
	color: $primaryColor;
	&:hover {
		font-weight: bold,
	}
}

main img {
	margin-top: 30px;
}

@media (max-width: 768px) {
	.navigation ul {
		justify-content: space-between;
		li {
			padding: 0;
		}
	}
}