article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  display: block;
  max-width: 100%; }

.wrapper {
  max-width: 1152px;
  width: 95%;
  margin: 0 auto; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 4px;
  z-index: 999;
  background: #f6c4c7;
  color: #a21920;
  border: 1px solid #a21920;
  padding: 10px;
  text-align: center;
  font-weight: 700; }
  .skip-link:focus {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1, h2, h3, h4, ul, li, a, p, button {
  font-family: 'Raleway', sans-serif; }

h1, h2, h3, h4, ul, li, a {
  text-transform: uppercase; }

h1 {
  font-size: 3.2rem;
  font-weight: 700; }

h2, h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 1.8rem; }

ul, li, a, p {
  font-size: 1.6rem;
  list-style: none;
  text-decoration: none; }

input, button {
  font-size: 1.4rem; }

a, input, button {
  font-weight: 500; }

nav {
  border-bottom: 1px solid #808080; }
  @media (max-width: 425px) {
    nav {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: white;
      z-index: 200;
      border-top: 1px solid #808080;
      padding: 10px 0; }
      nav i {
        font-size: 2.4rem; } }

.linksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .linksContainer ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 15px 0; }
    .linksContainer ul a {
      text-decoration: none;
      color: #000000; }

.navLinks {
  position: relative; }
  .navLinks li {
    margin-right: 20px;
    position: relative; }
    .navLinks li a {
      padding: 5px 0; }
      .navLinks li a:hover {
        font-weight: 800; }
  .navLinks::after {
    content: '|';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-weight: 500; }
  @media (max-width: 425px) {
    .navLinks::after {
      display: none; }
    .navLinks.navLinks li:first-child, .navLinks.navLinks li:nth-child(2) {
      display: none; } }

.socialLinks li {
  margin-left: 15px; }
  .socialLinks li a:hover {
    color: #ce2029;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }

@media (max-width: 425px) {
  .socialLinks {
    width: 50%;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .socialLinks li {
      margin: 0; } }

.mobileMenu {
  display: none; }
  @media (max-width: 425px) {
    .mobileMenu {
      display: block; } }

.title {
  text-align: center;
  margin: 40px 0; }
  @media (max-width: 425px) {
    .title {
      margin-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #808080; } }

.navigation {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080; }
  .navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    padding: 15px 0; }
    .navigation ul li {
      padding: 0 10px; }
      .navigation ul li a {
        color: #000000; }
        .navigation ul li a:hover {
          font-weight: 800; }
    @media (max-width: 768px) {
      .navigation ul {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .navigation ul li, .navigation ul a {
          padding: 0; } }

@media (max-width: 425px) {
  .navUpper {
    position: fixed;
    top: 0;
    bottom: 77px;
    left: 0;
    right: 0;
    z-index: 200;
    background: lightgrey;
    border: none;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    .navUpper ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      top: 50%;
      width: 100%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      .navUpper ul li {
        margin-bottom: 20px; }
        .navUpper ul li:last-child {
          margin-bottom: 0; }
        .navUpper ul li a {
          font-size: 4rem; }
    .navUpper.hidden {
      left: 1000px; } }

header img {
  margin-top: 30px;
  margin-bottom: 60px; }
  @media (max-width: 425px) {
    header img {
      margin-bottom: 30px; } }

.heading {
  margin: 30px 0;
  text-align: center;
  position: relative; }
  .heading.heading::before, .heading.heading::after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: calc(50% - 70px);
    height: 1px;
    background-color: #808080; }
  .heading.heading::before {
    left: 0; }
  .heading.heading::after {
    right: 0; }
  @media (max-width: 425px) {
    .heading {
      margin-bottom: 0; } }

.columns {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 60px; }
  .columns p {
    margin: 0 0 10px 0;
    line-height: 1.8;
    text-align: justify;
    font-weight: 500; }
  @media (max-width: 768px) {
    .columns {
      -webkit-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 15px;
              column-gap: 15px; } }
  @media (max-width: 425px) {
    .columns {
      -webkit-column-count: 1;
              column-count: 1;
      margin-bottom: 30px; }
      .columns p:first-child {
        margin-top: 15px; }
      .columns p:last-child {
        margin-bottom: 0; } }

.gallery {
  margin-top: 30px; }

.imageGallery {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-width: 33.33%;
          column-width: 33.33%;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 60px; }
  .imageGallery figure {
    position: relative;
    margin-top: 30px; }
    .imageGallery figure:first-child {
      margin-top: 0; }
    .imageGallery figure figcaption {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(206, 32, 41, 0.8); }
    .imageGallery figure:hover figcaption {
      display: block; }
  @media (max-width: 768px) {
    .imageGallery {
      -webkit-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 15px;
              column-gap: 15px;
      margin-bottom: 0; }
      .imageGallery figure {
        margin-top: 15px; }
        .imageGallery figure:first-child {
          margin-top: 0; }
      .imageGallery figure:nth-child(6) ~ figure {
        display: none; } }
  @media (max-width: 425px) {
    .imageGallery {
      -webkit-column-count: 1;
              column-count: 1;
      margin-top: 0; }
      .imageGallery figure:first-child {
        margin-top: 15px; } }

.overlay {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 0 auto;
  color: white; }
  .overlay h3 {
    margin: 0; }
  .overlay p {
    text-transform: lowercase;
    font-style: italic;
    font-family: 'Noto Serif', serif;
    margin: 5px 0;
    font-size: 1.2rem;
    position: relative; }
    .overlay p::before, .overlay p::after {
      content: '';
      position: absolute;
      width: 40%;
      height: 1px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      background-color: white; }
    .overlay p::before {
      left: -55px; }
    .overlay p::after {
      right: -55px; }
  .overlay a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white; }
    .overlay a:hover {
      font-weight: 700; }
  @media (max-width: 425px) {
    .overlay p {
      margin: 15px 0; }
    .overlay a, .overlay p {
      font-size: 1.6rem; } }

.toggleOverflow {
  display: none;
  margin: 30px auto;
  background: none;
  border: 1px solid #000000;
  padding: 10px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase; }
  .toggleOverflow:hover {
    color: #a21920;
    border: 1px solid #a21920;
    background-color: #f6c4c7; }
  @media (max-width: 768px) {
    .toggleOverflow {
      display: block; } }

.contact {
  text-align: center;
  border-top: 1px solid #808080;
  padding: 50px 0; }
  .contact h4 {
    margin: 0 0 15px 0; }
  .contact p {
    font-size: 1.3rem; }
  @media (max-width: 425px) {
    .contact {
      border-bottom: 1px solid #808080;
      padding: 30px 0; } }

.contactForm {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 37.5%;
  margin: 0 auto; }
  .contactForm input[type=email] {
    grid-column: 1/2;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    color: #000000; }
    .contactForm input[type=email]::-webkit-input-placeholder {
      font-size: 1.8rem; }
    .contactForm input[type=email]:-ms-input-placeholder {
      font-size: 1.8rem; }
    .contactForm input[type=email]::-ms-input-placeholder {
      font-size: 1.8rem; }
    .contactForm input[type=email]::placeholder {
      font-size: 1.8rem; }
  .contactForm input[type=submit] {
    grid-column: 2/3;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background-color: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .contactForm input[type=submit]:hover {
      color: #a21920;
      border: 1px solid #a21920;
      background-color: #f6c4c7; }
  .contactForm input[type=email], .contactForm input[type=submit] {
    border: 1px solid #000000;
    text-align: center;
    padding: 15px; }
  @media (max-width: 768px) {
    .contactForm {
      width: 75%; } }
  @media (max-width: 425px) {
    .contactForm {
      width: 100%;
      grid-row-gap: 10px; }
      .contactForm input[type=email] {
        grid-column: 1/3;
        grid-row: 1/2; }
      .contactForm input[type=submit] {
        grid-column: 1/3;
        grid-row: 2/3; } }

@media (max-width: 768px) {
  .mobileWrapper {
    width: 95%;
    margin: 0 auto; } }

@media (max-width: 425px) {
  footer {
    background: lightgrey;
    margin-bottom: 76px;
    border-bottom: 1px solid #808080; }
    footer .footerContainer {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      footer .footerContainer .socialLinks {
        display: none; } }

.navLower ul {
  padding: 30px 0; }
  @media (max-width: 768px) {
    .navLower ul {
      width: 95%;
      margin: 0 auto; } }

@media (max-width: 425px) {
  .navLower {
    display: none; } }

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0; }
  .footerContainer p, .footerContainer a {
    font-weight: 700;
    color: #000000;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
  .footerContainer a:hover {
    color: #ce2029; }
  .footerContainer p {
    font-size: 1.8rem; }
    .footerContainer p a {
      font-size: 1.8rem; }
  .footerContainer .socialLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0; }
    .footerContainer .socialLinks a {
      color: #000000; }
      .footerContainer .socialLinks a:hover {
        color: #ce2029;
        -webkit-transition: color 0.3s;
        transition: color 0.3s; }
